header {
  z-index: 1;
  position: fixed;
  width: 100%;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
header svg {
  font-size: 2rem;
  color: black;
}
#switch-button {
  border: none;
  background: none;
}
#my-cart button {
  position: relative;
  border: none;
  background: none;
}
#my-cart svg {
  font-size: 2rem;
}
#my-cart span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 100%;
  color: white;
  position: absolute;
  top: 25px;
  right: 5px;
  font-size: 10px;
}
#cart-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  scrollbar-width: none;
  overflow-y: scroll;
}
#cart-window h3 {
  margin-top: 20px;
  font-family: "Poppins";
  font-size: 20px;
  text-transform: uppercase;
}
#cart-window::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
#cart-window ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#cart-window ul button {
  display: none;
}
#cart-info {
  font-family: "Poppins";
  padding: 20px;
  position: fixed;
  bottom: 25px;
  right: 10px;
  display: flex;
  flex-direction: column;
  background: #000000;
  border-radius: 5px;
  color: white;
}
#cart-info button {
  margin-top: 15px;
  border: 1px solid white;
  padding: 5px;
  background: none;
  color: white;
  border-radius: 5px;
  font-family: "Poppins";
  text-transform: uppercase;
  cursor: pointer;
}
