#products-wrapper {
  margin-top: 5rem;
  padding: 10px 60px;
}
#products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.product {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.5rem;
}
.product-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 25px;
  width: 12rem;
  height: 15rem;
}

.product-content:hover {
  border: 1px solid #6f6f6f;
}
.product-content img {
  width: 10rem;
}
.product-desc h2 {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: bold;
  width: 15rem;
  line-height: 2;
}
.add-item {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
